<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <!-- @Todo: Add meta description tag -->
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Weather App</title>
        <link rel="icon" href="{{ webpackConfig.output.publicPath }}{{ favicon.outputPath }}{{ favicon.fileName }}"/>
        {{#each htmlWebpackPlugin.files.css}}
            <link href="{{this}}" rel="stylesheet">
        {{/each}}
    </head>
    <body>
        <div id="root"></div>
        {{#each htmlWebpackPlugin.files.js}}
            <script type="text/javascript" src="{{this}}"></script>
        {{/each}}
    </body>
</html>
